body.prototype_body_7 {
  perspective: 300px;

  div {
    transform: translate3d(0, 0, 0) scale(1);
    animation-duration: 1500ms;
    animation-name: placeRect;
    animation-timing-function: ease-out;
  }
}

@keyframes placeRect {
  from {
    transform: translate3d(0, -100px, 0) scale(6);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
