body.prototype_body_10 {
  display: flex;
  // perspective: 100px;

  .prototype_10 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 100px;
  }

  .gridCell {
    // position: absolute;
    // transform: translate3d(0, 0, 0) scale(1);
    // animation-duration: 1500ms;
    // animation-name: placeRect;
    // animation-timing-function: ease-out;
  }

  .painting {
    width: 100%;
    height: 100%;
  }
}

@keyframes placeRect {
  from {
    transform: translate3d(0, -100px, 0) scale(6);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
