body.prototype_body_17 {
  display: flex;
  background-color: black;

  .prototype_17,
  .Container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .GridCell {
    width: 12.5vw;
    height: 12.5vw;
    // position: absolute;
    // transform: translate3d(0, 0, 0) scale(1);
    // animation-duration: 1500ms;
    // animation-name: placeRect;
    // animation-timing-function: ease-out;
  }

  .Painting {
    width: 100%;
    height: 100%;
    animation-duration: 1500ms;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &.fadeOut {
      animation-duration: 1500ms;
      animation-name: fadeOut;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  .Button {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 60px;
    background: white;
    bottom: 30px;
    color: black;
    text-align: center;
    line-height: 60px;
    cursor: pointer;

    &.placeOne {
      left: 100px;
    }

    &.placeFew {
      left: 300px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
