.prototype_1 {
  display: flex;
  margin: auto;

  .frame {
    position: relative;
    width: 1080px;
    max-width: 1080px;
    min-width: 1080px;
    height: 1920px;
    margin: auto;
    background: black;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
  }
}
